*.suo
*.user
_ReSharper.*
bin
obj
*.log
*.dep
*.user
Debug
Release
Production_Release
*.metaproj
*.metaproj.tmp
*.ncb
*.suo
*~
*.testrunconfig
*zlog1.txt
*.cache
_ReSharper*
*.trx
libs/*
*/bin/*
bin/*
*/obj/*
obj/*
AgentRestart.dat
TestResults
bin
*.sdf
ipch
revision.txt
branch.txt
*.o
*.ko
.*.o.cmd
.*.ko.cmd
Module.symvers
modules.order
bin-debug
gui_files.zip
gui_files_debug.zip
gui_files_zcm.zip
gui_files_aws.zip
gui_files_hyperv.zip
*.pidb
*.userprefs
*.opensdf
vra_image
*.tlog
*.dotCover
*.pyc
*.orig
*.DotSettings.user
SharpSetup*.resources
/dev/system/FlexGui/Zerto/.model/Zerto.fml
/dev/system/FlexGui/ZertoZcm/.model/ZertoZcm.fml
/dev/system/FlexGui/ZertoZCM/.model/ZertoZCM.fml
/dev/system/FlexGui/scripts/ZertoService.xml
/dev/system/FlexGui/scripts/ZcmZertoService.xml
/dev/system/FlexGui/libs/ZertoZCMAssets.swc
/dev/system/FlexGui/libs/ZertoLib.swc
/dev/system/FlexGui/libs/ZertoAssets.swc

/dev/automation/DiskUtility/DiskUtilityInstall/DiskUtilityInstall/Express/SingleImage/*
/dev/automation/Zeta/Zeta.Install/Zeta.Install/Express/SingleImage/*
/dev/automation/Tools/ZECT/ZectSetup/ZectSetup/Express/SingleImage/*
/dev/automation/Zeta/Zeta2.0/setip.tmp

/dev/unittest/Zvm/ZvmConsole/ApiInfraTest.dll
/dev/unittest/Zvm/ZvmConsole/VRAServiceDll.dll
/dev/unittest/Zvm/ZvmConsole/AIOTest.exe
/dev/unittest/Zvm/ZvmConsole/CppUnitTests.exe
/dev/unittest/Zvm/ZvmConsole/CrcTests.exe
/dev/unittest/Zvm/ZvmConsole/DriverMock.exe
/dev/unittest/Zvm/ZvmConsole/NetTest.exe
/dev/unittest/Zvm/ZvmConsole/ZiodSimulator.exe
/dev/unittest/Zvm/ZvmConsole/AIOTest.pdb
/dev/unittest/Zvm/ZvmConsole/ApiInfraTest.pdb
/dev/unittest/Zvm/ZvmConsole/CppUnitTests.pdb
/dev/unittest/Zvm/ZvmConsole/CrcTests.pdb
/dev/unittest/Zvm/ZvmConsole/DriverMock.pdb
/dev/unittest/Zvm/ZvmConsole/NetTest.pdb
/dev/unittest/Zvm/ZvmConsole/vc100.pdb
/dev/unittest/Zvm/ZvmConsole/VRAServiceDll.pdb
/dev/unittest/Zvm/ZvmConsole/ZiodSimulator.pdb
/dev/unittest/Zvm/ZvmConsole/AlexTweaksRemote - Copy.txt
/dev/unittest/Zvm/ZvmConsole/OriTweaksRemote - Copy.txt
/dev/unittest/Zvm/Zvm1.vsmdi
**/.vs/**
/dev/system/external/UnitTest++/UnitTest++.vsnet2005.make
/dev/system/infra/cpp/infra.make
/dev/system/zdriver/zdriver.make
/dev/tools/BinaryLogParser/BinaryLogParser.make
/dev/unittest/CppUnitTests/CppUnitTests.make
/dev/unittest/DriverMock/DriverMock.make
/dev/unittest/VRACppTestUtils/VRATestUtils.make
dev/vmddk/autopackagebuild/bundle/zerto-bulletin.zip
/dev/system/external/UnitTest++/UnitTest++.vsnet2005.make
/dev/system/infra/cpp/infra.make
/dev/system/zdriver/zdriver.make
/dev/tools/BinaryLogParser/BinaryLogParser.make
/dev/tools/zperf/zperf.make
/dev/unittest/CppUnitTests/CppUnitTests.make
/dev/unittest/CppUnitTests/zlog.txt
/dev/unittest/CppUnitTests/lfzlog.txt
/dev/unittest/DriverMock/DriverMock.make
/dev/unittest/VRACppTestUtils/VRATestUtils.make
/dev/system/Zvm/Installer/Translation/obj
/dev/system/Zcm/Installer/Translation/obj
dev/system/Zvm/Installer/Zca/Zerto.Zvm.Zca.Installer.Translation/obj
dev/system/InstallerInfra/GuiInfra/obj
.DS_Store

dev/system/Zvm/Installer/Package/ZvmBinaries.wxs
dev/system/Zvm/Installer/Package/UninstallerBinaries.wxs
dev/system/Zvm/Installer/Zca/Zerto.Zvm.Zca.Installer.Package/ZcaBinaries.wxs
dev/system/Zvm/Installer/Zca/Zerto.Zvm.Zca.Installer.Package/ZcaUninstallerBinaries.wxs
/dev/system/Zcm/Installer/Packages/Zcm.Setup/fileSystem.wxs

/dev/automation/DiskUtility/DiskUtilityInstall/DiskUtilityInstall/Express/SingleImage/*
/dev/automation/Zeta/Zeta.Install/Zeta.Install/Express/SingleImage

/dev/system/Zvm/InstallerHyperv/Translation/obj/*
/dev/system/Zvm/InstallerHyperv/Translation/obj/*
/dev/system/Zvm/LocalInterfaces/obj/*
/dev/system/infra/cs/Zerto.Infra/obj/*
/dev/system/Zvm/LocalInterfaces/obj/*
/dev/system/Zvm/ZvmInstallerGuiHyperv/obj/*

/dev/system/**/.idea
/dev/system/HTMLGui/zcm/.idea
/dev/system/HTMLGui/zvm/.idea

/dev/system/HTMLGui/zcm/app/styles/_concat-styles.scss
/dev/system/HTMLGui/zcm/.sass-cache
/dev/system/HTMLGui/zcm/app/.sass-cache
/dev/system/HTMLGui/zcm/.tmp
/dev/system/HTMLGui/zcm/app/styles/*.css
/dev/system/HTMLGui/zcm/node_modules
/dev/system/HTMLGui/zcm/dist
/dev/system/HTMLGui/zcm/app/bower_components
/dev/system/HTMLGui/zcm/.gulp-cache
/dev/system/HTMLGui/zcm/app/index.html
/dev/system/HTMLGui/zcm/devConfig.js

/dev/system/HTMLGui/zvm/app/styles/_concat-styles.scss
/dev/system/HTMLGui/zvm/.sass-cache
/dev/system/HTMLGui/zvm/app/.sass-cache
/dev/system/HTMLGui/zvm/.tmp
/dev/system/HTMLGui/zvm/app/styles/*.css
/dev/system/HTMLGui/zvm/dist
/dev/system/HTMLGui/zvm/coverage
/dev/system/HTMLGui/zvm/test-results.xml
/dev/system/HTMLGui/zvm/node_modules
/dev/system/HTMLGui/zvm/app/bower_components
/dev/system/HTMLGui/zvm/.gulp-cache
/dev/system/HTMLGui/zvm/app/index.html
/dev/system/HTMLGui/zvm/devConfig.js

npm-debug.log
/dev/unittest/Zvm/ZvmAndUnitTests.sln
/dev/unittest/Zvm/*.slnfilter
/dev/unittest/Zvm/ZvmAndZcm.sln
/dev/unittest/Zvm/ZvmOnly.sln
/dev/build/hyperv_vra

/dev/system/InstallerInfra/GuiInfra/obj/en-GB/*.resources
/dev/system/Zerto.Common/obj/en-US/*.resources
/dev/system/Zvm/ScvmmBasics/obj/en-US/*.resources
/dev/system/Zvm/Zerto.Zvm.API.Interfaces/obj/en-US/*.resources
/dev/tools/CallHomeServer/CallHomeServerAPI/obj/en-US/*.resources
/dev/system/SR/cs/obj/en-US/*.resources
dev/build/hyperv_vrah/
gui_files_hyperv.zip
/dev/unittest/Zvm/packages/CommandLineParser.1.9.71
/dev/system/hvdriver/Solution/Package/
/dev/system/hvdriver/Solution/exe/
/dev/system/hvdriver/Solution/x64/
/dev/unittest/CppUnitTests/finished-failed.txt
/dev/unittest/CppUnitTests/passed.txt
/dev/unittest/CppUnitTests/z*.txt
/dev/system/zeus/activator/x64
/dev/system/zeus/bin
/dev/system/zeus/ipch
/dev/system/zeus/x64
/dev/system/zeus/zeus/html
/dev/system/zeus/zeus/ipch
/dev/system/zeus/zeus/x64
/dev/system/zeus/ZeusCppApi/x64
/dev/system/zeus/ZeusCppApi/Win8Debug
/dev/system/zeus/ZeusCsApi/bin
/dev/system/zeus/ZeusCsApi/obj
/dev/system/zeus/ZeusCSApi/x64
/dev/system/zeus/ZeusCsApiTest/bin
/dev/system/zeus/ZeusCsApiTest/obj
/dev/system/zeus/zeus/zeus-Package/x64
/dev/system/zeus/ZeusIntegrationTests/x64
/dev/system/zeus/Win32
/dev/system/zeus/zeus/Win8Debug


/dev/system/hvdriver/Solution/exe/x64
/dev/system/hvdriver/Solution/Package
/dev/system/hvdriver/Solution/x64
/dev/system/hvdriver/Solution/sys/x64
/dev/system/hvdriver/Solution/sys/zintercept/x64

/dev/system/zeus/Win32
/dev/system/zeus/ZeusCppApi/Win8Debug

/dev/unittest/VraHyperV/CppUnitTestsHV/x64
/dev/unittest/VraHyperV/VraHyperV/x64/
/dev/unittest/VraHyperV/vmkHV/x64/
/dev/unittest/VraHyperV/zdriverHV/x64
/dev/unittest/WinDriver/x64/
/dev/unittest/WinSimDriver/x64/
/dev/system/infra/cpp/x64/
packages
/dev/system/infra/cpp/*StaticCRT
/dev/tools/CppS3Client/*StaticCRT

/dev/system/Zvm/UpgradeTest

/dev/automation/Zeta/Zeta.Install/Zeta.Install/Express/Interm/_IsIcoRes.Exe
/dev/automation/Tools/ZECT/ZectSetup/ZectSetup/Express/Interm/_IsIcoRes.Exe
/dev/automation/DiskUtility/DiskUtilityInstall/DiskUtilityInstall/Express/Interm/_IsIcoRes.Exe
dev/system/zeus/Install/
/dev/system/zeus/zeus-Package/x64
/dev/system/Storage/Zerto.Infra.Storage/ErikEJ.SqlCe40.dll
/dev/system/Storage/Zerto.Infra.Storage/NLog.dll
/dev/system/Storage/Zerto.Infra.Storage/NLog.xml
/dev/system/Storage/Zerto.Infra.Storage/System.Data.SqlServerCe.dll
dev/system/external/Wix/swidtag/
dev/system/external/Wix/SDK/VS2013/
dev/system/external/Wix/doc/
/dev/system/infra/cs/Zerto.Infra/ICSharpCode.SharpZipLib.dll
/dev/system/infra/cs/Zerto.Infra/Microsoft.Practices.Unity.dll
/dev/system/infra/cs/Zerto.Infra/Microsoft.Practices.Unity.pdb
/dev/system/infra/cs/Zerto.Infra/Microsoft.Practices.Unity.xml
/dev/system/infra/cs/Zerto.Infra/Newtonsoft.Json.dll
/dev/system/infra/cs/Zerto.Infra/SevenZipSharp.dll
/dev/unittest/Zvm/VraIntegration/Administrator_VRAINTEGRATION2*
/dev/unittest/Zvm/VraIntegration/test_results/*
/dev/unittest/Zvm/VraIntegration/ori_ORI-PC*
/dev/system/FlexGui/ZertoZCM/bin-release
/.reviewboardrc
/dev/tools/ZertoDiagnostics/ZertoDiagnosticsLib/ClassDiagram1.cd
/dev/automation/UpgradeLog.htm
/dev/system/hvdriver/Solution/sys/zintercept/buildtime.h
/harvest_*.txt
version.info
/**/*.cab
/dev/unittest/Zvm/UpgradeLog.htm
/dev/unittest/Zvm/Vra.VC.db
dev/build/logs/tmp.txt
