/* app css stylesheet */

.menu {
    list-style: none;
    background: #37474f;
    margin: 0;
    padding: 15px;
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li > a {
    color: white;
    text-decoration: none;
}
