#chart__container {
    border: 1px solid blue;
}

#slider {
    width: 980px;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis font {
    size: 32px;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.crossed {
    fill: red !important;
}

.equal {
    fill: yellow !important;
}

#icons__container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}

#icons__container div {
    width:85px;
    height: 85px;
    background-repeat: no-repeat;
}

.buttons-play {
    position: relative;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background: url("../assets/play.png");
    background-repeat: no-repeat;
}

.buttons-pause {
    position: relative;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background: url("../assets/pause.png");
    background-repeat: no-repeat;
}

.result-invalid {
    width: 300px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    background: red;
}

.c3 svg {
    font: 14px sans-serif;
}






.icon__storage{
    background: url("../assets/Storage.JPG");
}

.icon__storage-compression{
    background: url("../assets/Zipping.JPG");
}

.icon__cpu{
    background: url("../assets/CPU.JPG");
}

.icon__vra{
    background: url("../assets/Buffer.JPG");
}

.icon__network{
    background: url("../assets/Networking.JPG");
}

.icon__tcp{
    /*background: url("../assets/Queue.JPG");*/
    background: url("../assets/tcp_plug.png");
}

.icon__pipe{
    background: url("../assets/JournalPipe.JPG");
    background-size: 89px 77px;
}