body {
  min-width: 1645px;
}

.main__container {
  .chart__container {
    height: 400px;
    width: 90%;
    margin: 0 auto;
  }
  
  .icons__container {
    width: 90%;
    height: 60px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    padding-left: 50px;
    align-items: center;
    box-sizing: border-box;
    .icon__wrapper {
      width: 50px;
      height: 50px;
      text-align: center;
      flex: 1;
      justify-content: center;
      align-items: center;

      > div {
        height: 50px;
        width: 50px;
        display: inline-block;
        background-size: 50px 50px !important;
        background-repeat: no-repeat !important;
      }

      .icon__storage {
        background: url("../assets/Storage.JPG");
      }
      .icon__storage-compression {
        background: url("../assets/Zipping.JPG");
      }
      .icon__cpu {
        background: url("../assets/CPU.JPG");
      }
      .icon__vra {
        background: url("../assets/Buffer.JPG");
      }
      .icon__network {
        background: url("../assets/Networking.JPG");
      }
      .icon__tcp {
        /*background: url("../assets/Queue.JPG");*/
        background: url("../assets/tcp_plug.png");
      }
      .icon__pipe {
        background: url("../assets/JournalPipe.JPG");
      }
    }
  }

  .slider__container {
    width: 75%;
    margin: 0 auto;
    padding-left: 50px;
    box-sizing: border-box;
    margin-top: 25px;
    cursor: pointer;

    #slider {
      display: inline-block;
      width: 90%;
      padding-bottom: 22px;
    }
    .playback-button {
      margin: 0 auto;
      width: 50px;
      height: 50px;
      background-size: 50px 50px;
      background-repeat: no-repeat;
      display: inline-block;

      &.play {
        background: url("../assets/play.png");
        background-size: 50px 50px;
      }

      &.pause {
        background: url("../assets/pause.png");
        background-size: 50px 50px;
      }
    }
  }

  .actions__container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .action-item {
      max-width: 300px;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      padding: 5px;
      cursor: pointer;
    }
    .time-stamp__container {
      background: lightblue;
      min-width: 200px;
      span {
        font-size: 14px;
      }
    }
    .slider-sensitivity {
      background: lightgrey;
      input {
        margin-left: 5px;
        width: 40px;
        text-align: center;
      }
    }
    .pager-wrapper {
      background: lightgrey;
      max-width: 600px;
      min-width: 400px;
      display: flex;
      justify-content: space-between;
      margin-left: 30px;
      margin-right: 30px;
      text-align: center;
      height: 50px;

      > div {
        flex: 1;
      }

      .page-picker-input {
        width: 50px;
        text-align: center;
      }

      .arrow-right {
        line-height: 40px;
        position: relative;
        background: gray;
        border: 4px solid lightgrey;
      }
      .arrow-right:after, .arrow-right:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .arrow-right:after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: gray;
        border-width: 22px;
        margin-top: -22px;
      }
      .arrow-right:before {
        border-color: rgba(194, 225, 245, 0);
        border-left-color: lightgrey;
        border-width: 28px;
        margin-top: -28px;
      }

      .arrow-right:hover {
        border-color: gray;
        &:before {
          border-left-color: gray;
        }
      }

      .arrow-left:hover {
        border-color: gray;
        &:before {
          border-right-color: gray;
        }
      }

      .arrow-left {
        line-height: 40px;
        position: relative;
        background: gray;
        border: 4px solid lightgrey;
      }
      .arrow-left:after, .arrow-left:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .arrow-left:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: gray;
        border-width: 22px;
        margin-top: -22px;
      }
      .arrow-left:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: lightgrey;
        border-width: 28px;
        margin-top: -28px;
      }

      .pager-info {
        line-height: 50px;
        min-width: 180px;
        color: black;

        .info-big {
          font-size: 18px;
          font-weight: bold;
        }

        .info-small {
          font-size: 10px;
        }
      }
    }
  }

  .files__container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .file-picker {
      color: black;
      font-weight: bold;
      background: lightgray;
      line-height: 50px;
      border-radius: 5px;
      margin: 5px;
      padding-left: 35px;
      padding-right: 35px;
      cursor: pointer;
    }

    .button-parse {
      color: black;
      width: 100px;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      border-radius: 5px;
      line-height: 50px;
      background: lightgray;
      cursor: pointer;
      margin-left: 50px;
    }

    input {
      outline: none;
      margin-left: 20px;
      padding-left: 5px;
      min-width: 300px;
      cursor: pointer;
    }
  }

  .loader__container {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .result-invalid {
    width: 500px;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    background: red;
  }

  .c3 svg {
    font: 14px sans-serif;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .axis font {
    size: 32px;
  }
  .line {
    fill: none;
    stroke-width: 1.5px;
  }
  .crossed {
    fill: red !important;
  }
  .equal {
    fill: yellow !important;
  }
  .hide-column {
    opacity: 0.1 !important;
  }
}
